

diagram.diagram {
  display: block;
  /* max-height: 300px; */
}
diagram.diagram > svg {
  display: block;
  /* height: 100%; */
  max-width: 100%;
  border: #eee 1px solid;
  margin: 0 auto;
}

/* diagram.diagram > svg g.arc-span-unit-wrap path {
  opacity: 0.25;
} */

diagram.diagram > svg g.arc-span-unit-wrap path:hover {
  opacity: 1;
}

/* diagram.diagram > svg g.unit-wrap.mouse-over {
  opacity: 0.5;
} */


